* {
  margin:0;
  padding:0;
}

body {
  font-family:arial;
}

h1 {
  text-align:center;
  margin:1em;
}

/* video switcher wrap */
#video-switcher-wrap {
  overflow:hidden;
  position:relative;
  margin:0 auto;
  border:1px solid black;
} 

#video-switcher-wrap video {
  position:absolute;
  zoom:0.5;
}

#video-switcher-wrap[data-playing="true"] video {
  zoom:1;
}

/* camera controls */
#video-switcher-wrap #camera-controls {
  margin:0;
  padding:0;
  position:absolute;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
}

#video-switcher-wrap #camera-controls canvas {
  background:transparent;
  cursor:pointer;
  border:2px solid #999;
}

#video-switcher-wrap #camera-controls canvas:hover {
  border-color:white;
}

#video-switcher-wrap[data-selected-camera="0"] #camera-controls canvas[data-camera-index="0"],
#video-switcher-wrap[data-selected-camera="1"] #camera-controls canvas[data-camera-index="1"],
#video-switcher-wrap[data-selected-camera="2"] #camera-controls canvas[data-camera-index="2"],
#video-switcher-wrap[data-selected-camera="3"] #camera-controls canvas[data-camera-index="3"] {
  border-color:#09c;
}

#video-switcher-wrap[data-playing="true"] #camera-controls {
  transition:all 0.2s linear;  
  opacity:0;
}

#video-switcher-wrap[data-playing="true"]:hover #camera-controls {
  opacity:1;
}

/* video controls */
#video-switcher-wrap #video-controls {
  display:flex;
  position:absolute;
  list-style:none;
  color:white;
}

#video-switcher-wrap[data-playing="true"]:hover #video-controls {
  opacity:1;
}

#video-switcher-wrap[data-playing="true"] #video-controls {
}

#video-switcher-wrap[data-playing="true"] #video-controls {
  opacity:0;
}

#video-switcher-wrap #video-controls li {
  cursor:pointer;
}
#video-switcher-wrap #video-controls li[data-video-action="play"] {
  transition:all 0.1s linear;
  color:#eee;
  font-size:5em;
  text-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
}

#video-switcher-wrap #video-controls li[data-video-action="play"]:hover {
  color:white;
  text-shadow:0px 0px 15px rgba(0, 0, 0, 0.9);
}
